.text-center {
  text-align: center !important;
}
.navbar {
  display: none; }

/* Larger than tablet */
/*@media (min-width: 750px) {*/
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    /*text-align: center;*/
    margin-bottom: 0; }
  .navbar-item {
    display: inline-block;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
/*}*/

.step:hover i { opacity: .7; }
.size-32 {
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  display: block;
  width: 100%;
  height: 3.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.footer-data {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: .2rem;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  line-height: 3.5rem;
  color: #333;
}
